.calculator {
    width: 30rem;
    height: 18rem;
   margin-top: 10rem;
    padding: 10px;
    border: 1px solid #1b2957;
    text-align: center;
    background-color: #1b2957;
    margin-left: 20rem;
  }
  
  input[type="text"] {
    width: 94%;
    margin-bottom: 10px;
    padding: 5px;
    text-align: right;
    background-color: #6d7db4;
    font-size: 15px;
    color: aliceblue;
  }
  
  table {
    width: 100%;
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #b2bbda;
    font-size: 15px;
    color: rgb(255, 255, 255);
  }
  